*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
:root{
    --shadows:rgba(0, 0, 0, 0.305);
    --secondary-color:rgb(67, 67, 67);
    --teritary-color:rgb(219, 219, 219);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 10px 30px ;
    align-items: stretch;
    box-shadow: 2px 2px 20px 2px var(--shadows);
    background-color: white;
    height: 40px;;
    
}
.time-and-dark-light-mode{
    display: flex;
    gap:0.3em;
    margin-top:-10px;
    height: 35px;
}
#time-hours{
    font-weight: 900;
    font-size: 2em;
}

.time{
    display: flex;
    flex-direction: column;
    gap: 0.15em;
}

.time p{
    margin: 0;
    line-height: 1;
}
body{
    background-color: whitesmoke;
    height: 100%;
}
main{
  display: flex;
  flex-direction: column;
    width:90vw;
    margin: auto;
    padding-top: 4em;
    position: relative;
    
}
.cards {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1rem 2%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.refresh-icon.loading{
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}
.card {
    background-color: white;
    flex: 1;
    min-width: 250px;
    padding: 1em 0.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px var(--shadows);
    min-height: 0;
    align-self: flex-start;
}

.quote-section{
    justify-self: flex-end;
    padding-top: 30px;

}

p{
    font-weight: 600;
}
.time-card-heading{
    color:var(--secondary-color)
}

#total-time-card{
    display: flex;
    flex-direction: column;
    gap:1em;
}

#total-time-card > div {
    display: flex;
    flex-direction: column;
    gap:10px;
}

#weather-card{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.search{
    display: flex;
    align-items: flex-start;
}
 input{
    border:0;
    outline: 0;
    height: 1.3em;
    background: var(--teritary-color);
    color: black;
    padding: 7px 15px;
    border-radius: 20px;
    flex:1;
}
 button {
    border:0;
    border-radius: 40px;
    outline: 0;
    background:transparent;
}
.search button img {
    width:2.4em
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather img {
    width:30%
}

#refresh-button{
padding: 0;
outline: 0;
  background: none;
  border: none;
  cursor: pointer;
   padding-top:5px;
background: transparent; 
width:100px;
}

.refresh-icon {
  transition: transform 0.5s ease; 
 
}


#refresh-button:active .refresh-icon {
  transform: rotate(-720deg);
}

.to-do-list-input-section{
    display: flex;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap:5px;
}



 p{
    line-height: 1;
 }

 #to-do-list-card{
    display: flex;
    flex-direction: column;
    gap:1em;
 }

 .to-do-list-input-header-section{
    display: flex;
    flex-direction: column;
    gap:12px;
 }
#to-do-list-card ul{
    display: flex;
    gap:15px
}

#to-do-list-card ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#to-do-list-card ul li section{
    display: flex;
    align-items: center;
    gap:10px
}
#to-do-list-card ul li section img ,#to-do-list-card ul li  img {
height: 25px
}


.checked {
    text-decoration: line-through;
    color: gray;
}

#timer-card{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.timer-card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    gap:20px;

}
#timer-card span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;

}

.timer-next-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width:100%;
  
    border-radius: 10px;
}
.timer-next-rest{
    background: rgb(135, 207, 135);
}
.timer-next-work{
    background: rgb(199, 137, 137);
}


.big{
    height: 50px;
}


.timer-next-box section img {
    margin: 0;
    padding-top:5px;
}

.timer-control-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px
}


::-webkit-scrollbar {
    width: 1em;         
    height: 12px;         
}


::-webkit-scrollbar-track {
    background: var(--teritary-color);  
  
}


::-webkit-scrollbar-thumb {
    background: #888;    
    border-radius: 6px;
    border: 3px solid transparent; 
    transition: 0.3s ease-in-out
}


::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}


.card{
    transition: 0.1s ease-in;
}
.card:hover{
    transform: scale(1.01);
}

footer{
    align-self: flex-end;
}

a{
    color: var(--secondary-color);
    font-size: large;
}
a:visited{
    color: black;
}